<style>
  body {
    background: <%= @color %>;
  }
</style>
<h1>This page will highlight the places I have traveled to or aspire to travel to along with the conferences I have attended over the past few years.</h1>
<p>My favorite color is <%= @color %></p>
<p>My shoe size is <%= @shoesize %></p>
<% if @size > 12 %>
  <p>My shoe size is <%= @size %>. I have HUGE feet.</p>
<% else %>
  <p>My shoe size is <%= @size %></p>
<% end %>
<% = @homeland %>
<ul>
<% @countries.each do |country| %>
  <%= country %>
<% end %>
<%= image_tag "augusta.jpeg",  alt: "Augusta GA",
                          id: "augusta",
                          class: "country",
                          height: 300,
                          width: 400%>
<%= image_tag "bahamas.jpeg", alt: "Bahamas Caribbean Islands",
                          id: "bahamas",
                          class: "country",
                          height: 300,
                          width: 400 %>
<%= image_tag "ghana.jpeg", alt: "Ghana West Africa",
                          id: "ghana",
                          class: "country",
                          height: 300,
                          width: 400 %>
<%= image_tag "costarica.jpeg",  alt: "Costa Rica Central America",
                          id: "costarica",
                          class: "country",
                          height: 300,
                          width: 400%>
<%= image_tag "guinea.jpg",  alt: "Guinea West Africa",
                          id: "guinea",
                          class: "country",
                          height: 300,
                          width: 400%>
<%= image_tag "nigeria.jpg", alt: "Nigeria",
                          id: "nigeria",
                          class: "country",
                          height: 300,
                          width: 400 %>
<%= image_tag "st.kitts.jpg", alt: "St. Kitts Caribbean Island",
                          id: "st.kitts",
                          class: "country",
                          height: 300,
                          width: 400 %>
</ul>
<p>Find me in app/views/welcome/about.html.erb</p>
