<h1><%= @destination.city %>, <%= @destination.country %></h1>
<h2>Population <%= @destination.population %></h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @destination.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @destination.country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @destination.description %>
</p>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
<h1><%= @destination.city %>, <%= @destination.country %></h1>
<%= image_tag @destination.avatar.url %>

<p> <%= @destination.description %></p>